<!DOCTYPE html>
<html>
<head>
    <title>All Expenses</title>
</head>
<body>
    <h2>Expenses</h2>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
        </tr>

        {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.note }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back</a>
</body>
</html>
